main{
  display:block;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

@media only screen and (max-width: 815px)
#main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
}

body{
  font-family:'Open Sans', Arial, sans-serif;
  line-height:1.5em;
  background-color:#ffffff;
  min-width: 290px;
}

p{
  display:block;
  color:#4d4e53;
  font-size:0.95rem;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top:20px;
}

#main-doc header{
  font-size:1.75rem;
  text-align:left;
  margin:0px;
}

ul{
  //list-style-type:disc;
display:block;
  color:#4d4e53;
  font-size:0.95rem;
}

section{
  display:block;
  margin:15px;
  margin-top:20px;
}

code{
  display:block;
  color:#4d4e53;
  font-size:0.95rem;
  background-color:#f7f7f7;
  border-radius:4px;
  text-align:left;
  margin:10px;
  white-space:pre-line;
  line-height:2;
  padding:15px;
  font-size:0.90rem;
}

nav{
  display:block;
}

@media only screen and (max-width: 815px)
#navbar {
    background-color: white;
    position: absolute;
    width: 100%;
    max-height: 275px;
    z-index: 1;
    top:0;
    padding:0;
    margin:0;
    border:none;
    border-bottom: 2px solid;
}

#navbar {
    position: fixed;
    min-width: 290px;
    left: 0px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 815px)
#navbar ul {
    border: 1px solid;
    height: 207px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header{
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
    display:block;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 400px)
#main-doc {
    margin-left: -10px;
}

#navbar a:hover {
  color: #f09440;
}
